.project
.settings/
api/.classpath
api/.gitignore
api/.project
api/.settings/
core/.classpath
core/.gitignore
core/.project
core/.settings/
web/.classpath
web/.project
web/.settings/
web/target/work/
api/.DS_Store
core/.DS_Store
web/.DS_Store
web/target/
*.DS_Store
core/target/
